@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Lexend:wght@200;400;600&family=Poppins:wght@200&family=Source+Sans+Pro:ital,wght@0,300;1,200&display=swap');

body {
  background-color: #0a131b;
  margin: 0;
 font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
